* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

h1 {
  color: #fff;

  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

li {
  list-style: none;
}

.container {
  width: 70%;
  max-width: 1320;
  margin: 0 auto;
}

/* Banner Section */
.banner-section {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  height: 600px;
  margin-top: 50px;
}

.banner-section-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 177px 0;
  text-align: center;
}

.banner-section-element h1 {
  width: 632px;
  margin-top: 16px;
}

.banner-section-element h6 {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

/* Offer Section */
.offer-section {
  text-align: center;
  padding: 120px 0;
}
.offer-section h5 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

.offer-section h4 {
  margin-top: 48px;
  margin-bottom: 16px;
}

.offer-section p {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.offer-section img {
  width: 802.9px;
  height: 500px;
  margin-top: 48px;
}

/* Party Section */
.party-section {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  height: 600px;
}

.party-section-element {
  padding: 126px;
}
.party-section p {
  margin: 24px 0 48px 0;
  width: 697px;

  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
}

.party-section button {
  color: #fff;
  background-color: #070211;

  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 16px 32px;
  border: none;
  border-radius: 32px;
}

/* Portfolio Section */
.portfolio-section {
  padding: 120px 0;
}

.portfolio-section h3 {
  margin: 16px 0 22px 0;
}
.portfolio-section p {
  width: 896px;
  margin-bottom: 48px;
}

.portfolio-section-img img {
  border-radius: 16px;
}

.portfolio-section-img-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.row-1 {
  margin-bottom: 24px;
}

/* Newsletter Section */
.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 120px;
  padding: 80px 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.newsletter-section img {
  width: 150px;
  height: 150px;
  margin-bottom: 40px;
}

.newsletter-section h3 {
  margin-bottom: 22px;
}

.newsletter-section p {
  width: 896px;
  margin-bottom: 48px;
}

form {
  display: flex;
  align-items: center;
  width: 50%;

  margin: 0 auto;
}
#email {
  color: rgba(7, 2, 17, 0.3);

  font-family: Inter;
  font-size: 18px;

  font-weight: 400;

  border: none;
  border-radius: 50px 0 0 50px;
  background: #fff;

  padding: 25px 200px 25px 30px;
}

#subscribe {
  background-color: #f00;
  color: #fff;

  font-family: Inter;
  font-size: 20px;
  font-weight: 600;

  border: none;
  border-radius: 0px 50px 50px 0px;
  padding: 24px 56px;

  margin-left: -2px;
}

/* Footer Section */
footer {
  background: #070211;
  padding: 120px 0;
}

footer p,
li {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

hr {
  border: 0.5px solid rgba(255, 255, 255, 0.15);
}

.address-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  /* margin-right: 300px; */
}

.icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0;
}

.icon-section img {
  margin-left: 24px;
}

.reserve-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
